body {
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: #212121;
  text-rendering: optimizeLegibility;
}

main {
  display: flex;
  flex-direction: column; 
  place-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  text-align: center;
  background-size: contain;
  width: fit-content;
  height: 75vh;
  place-items: center;
}

img {
  height: 80%;
  width: 100%;
  object-fit: fill;
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}

@media screen and (max-width: 320px) and (max-height: 640px) {
  .bottom-left {
    position: absolute;
    bottom: 25px;
    left: 16px;
    text-align: start;
    color: #212121;
  }
}

.favorites {
  display: grid;
  height: 70vh;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.favorite {
  text-align: center;
}

.favorite h3, .movie p {
  margin: 0;
}

.favorite img {
  border-radius: 5px;
  margin-top: 15px;
}
