body {
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: #464646;
  background: linear-gradient(
    #edf6ff 70%,
    transparent
  );
  text-rendering: optimizeLegibility;
}

main {
  display: flex;
  flex-direction: column; 
  place-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  text-align: center;
  color: #5e6770;
  height:70vh;
  place-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}

footer {
  background-color: red;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}